.BallCanvas, .PaintCanvas{
  position: absolute;
  top: 0;//-90vh;
  right: 0;
  bottom: 0;//90vh;
  left: 0;
  padding: 0;
  margin: 0;

    &_canvas {
      height: 100%;
      width: 100%;
    }
  }
