Footer {
  position: relative;
  background: #999;
  color: $lightGrey;
  text-align: left;
  font-size: 12px;
  height: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    color: #333;
  }

  @include transition(all 1s ease);
}

.Footer_links{
  a {
    padding-left: 10px;

    &:hover{
      color: $lightGrey;
    }
  }
  a svg:hover{
    fill: $white;
  }
}
