
@import "config";
@import "header";
@import "canvas";
@import "footer";

.wrap {
  padding: 40px;
}

.Nav_Bar{
  position: absolute;
  top: 10px; right: 0;
}

.toolbar{
  position: absolute;
  top: 10px; left: 10px;
}
