
@import "config";
@import "header";
@import "canvas";
@import "footer";
@import "projects";

body{
  background: $lightGrey;
}

.wrap {
  position: relative;
  padding: 40px;
  top: $navHeight;
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - #{$navHeight - $footerHeight} - 124px);
  @include animation(fadein 2s);
}

.App{
  min-width: 320px;
}

// .NavBar{
//   margin: 0 auto;
//   max-width: 1000px;
// }
// 56b8f6

Footer {
  position: relative;
  background: #999;
  color: $lightGrey;
  text-align: left;
  font-size: 12px;
  height: 40px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    color: #333;
  }
  @include transition(all 1s ease);
}

.Footer_links{
  padding-left: 10px;
}

.contact{
  text-align: center;
  h1{
    padding-bottom: 20px;
    color: $orange;
    text-decoration: underline;
  }
  a{
    color: $darkGreen;
    &:hover{
      color: $orange;
    }
  }
  p{
    color: $greyBlue;
  }
}
