
@import "config";
@import "header";
@import "canvas";
@import "footer";

.wrap {
  position: relative;
  padding: 40px;
  top: 40px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - #{$navHeight - $footerHeight} - 130px);
  @include animation(fadein 2s);
}
